<h1>ユーザー詳細</h1>
<ul>
  <li>ID: <%= @user.id %></li>
  <li>メールアドレス: <%= @user.email %></li>
  <li>郵便番号: <%= @profile.postal_code %></li>
  <li>住所: <%= @profile.address %></li>
  <li>自己紹介: <%= @profile.self_introduction %></li>
</ul>
<% if allowed_user?(@user) %>
  <nav class="page-nav"><%= link_to '編集', edit_user_registration_path %></nav>
<% end %>

