<p style="color: green"><%= notice %></p>

<h1><%= t('.book_title') %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('defaults.show'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('defaults.new'), new_book_path %>
