<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to t('defaults.edit'), edit_book_path(@book) %> |
  <%= link_to t('defaults.index'), books_path %>

  <%= button_to t('defaults.destroy'), @book, method: :delete %>
</div>
