<%= render @report %>
<%= render 'comments/comment_form', commentable: @report, comment: @comment %>
<div>
  <% if current_user == @report.user %>
  <%= link_to t('views.common.edit', name: Report.model_name.human), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: Report.model_name.human), reports_path %>

  <%= button_to t('views.common.destroy', name: Report.model_name.human), @report, method: :delete %>
</div>
